body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  background-image: url(groovepaper.png);
  background-repeat: repeat;
}

.page-header a {
  text-decoration: none;
}

.pager li>a {
  font-size: 80%;
}

/* Index title cards */

#title-cards {
  font-size: 90%;
}

#title-cards div.thumbnail {
  height: 320px;
  display: table-cell;
  vertical-align: middle;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
  -moz-box-shadow:    3px 3px 2px #ccc;
  -webkit-box-shadow: 3px 3px 2px #ccc;
  box-shadow:         3px 3px 2px #ccc;
}

@media (max-width: 980px) {
  #title-cards h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #title-cards div.thumbnail {
    height: 100%;
    width: 300px;
  }
}

.thumbnail-icon > i {
  text-shadow: 2px 2px 2px #111;
  font-size: 600%;
}

.thumbnail-icon:hover, .thumbnail-icon:focus {
  text-decoration: none;
}

/* default coloring */

h1, h2, h3, h4, h5, h6 {
  color: rgb(80, 80, 80);
}

a {
  color: rgb(80, 80, 80);
}

a:hover, a:focus {
  color: rgb(0, 0, 0);
}

/* blog coloring */

.blog h1, .blog h2, .blog h3,
.blog h4, .blog h5, .blog h6 {
  color: rgb(118, 11, 201);
}

.blog a {
  color: rgb(118, 11, 201);
}

.blog a:hover, .blog a:focus {
  color: rgb(94, 9, 161);
}

.blog .thumbnail-icon:hover, .blog .thumbnail-icon:focus,
.blog .thumbnail-icon:hover > h2, .blog .thumbnail-icon:focus > h2 {
  color: rgb(94, 9, 161);
}

/* research coloring */

.research h1, .research h2, .research h3,
.research h4, .research h5, .research h6 {
  color: rgb(23, 11, 201);
}

.research a {
  color: rgb(23, 11, 201);
}

.research a:hover, .research a:focus {
  color: rgb(18, 9, 161);

}

.research .thumbnail-icon:hover, .research .thumbnail-icon:focus,
.research .thumbnail-icon:hover > h2, .research .thumbnail-icon:focus > h2 {
  color: rgb(18, 9, 161);
}

/* inbetween: rgb(11, 189, 201) => rgb(9, 151, 161) */

/* teaching coloring */

.teaching h1, .teaching h2, .teaching h3,
.teaching h4, .teaching h5, .teaching h6 {
  color: rgb(11, 201, 23);
}

.teaching a {
  color: rgb(11, 201, 23);
}

.teaching a:hover, .teaching a:focus {
  color: rgb(9, 161, 18);
}

.teaching .thumbnail-icon:hover, .teaching .thumbnail-icon:focus,
.teaching .thumbnail-icon:hover > h2, .teaching .thumbnail-icon:focus > h2 {
  color: rgb(9, 161, 18);
}

/* writing coloring */

.writing h1, .writing h2, .writing h3,
.writing h4, .writing h5, .writing h6 {
  color: rgb(189, 201, 11);
}

.writing a {
  color: rgb(189, 201, 11);
}

.writing a:hover, .writing a:focus {
  color: rgb(151, 161, 9);
}

.writing .thumbnail-icon:hover, .writing .thumbnail-icon:focus,
.writing .thumbnail-icon:hover > h2, .writing .thumbnail-icon:focus > h2 {
  color: rgb(151, 161, 9);
}

/* software coloring */

.software h1, .software h2, .software h3,
.software h4, .software h5, .software h6 {
  color: rgb(201, 118, 11);
}

.software a {
  color: rgb(201, 118, 11);
}

.software a:hover, .software a:focus {
  color: rgb(161, 94, 9);
}

.software .thumbnail-icon:hover, .software .thumbnail-icon:focus,
.software .thumbnail-icon:hover > h2, .software .thumbnail-icon:focus > h2 {
  color: rgb(161, 94, 9);
}

/* fun coloring */

.fun h1, .fun h2, .fun h3,
.fun h4, .fun h5, .fun h6 {
  color: rgb(201, 23, 11);
}

.fun a {
  color: rgb(201, 23, 11);
}

.fun a:hover, .fun a:focus {
  color: rgb(161, 18, 9);
}

.fun .thumbnail-icon:hover, .fun .thumbnail-icon:focus,
.fun .thumbnail-icon:hover > h2, .fun .thumbnail-icon:focus > h2 {
  color: rgb(161, 18, 9);
}

/* Footer */

.tooltip {
  font-size: 70%;
}

.footer {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 120%;
}

@media (max-width: 767px) {
  .footer {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.footer a {
  text-decoration: none;
  color: #909090;
  padding-left: 5px;
  padding-right: 5px;
}

.footer a:hover, .footer a:focus {
  color: black;
}